div {
  font-size: 1.2rem;
  border-radius: 50%;
  height: calc(100% - 56 px);
  display: inline-block;
  color: transparent;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #99262a;
  color: #fff;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
