div {
  font-size: 1.2rem;
  border-radius: 50%;
  height: calc(100% - 56 px);
  display: inline-block;
  color: transparent;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  background-color: #99262a;
  font-size: 1rem;
  color: #fff;
  border-radius: 8px;
}
